*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:  'Open Sans', sans-serif;
}


h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(255,118,0);
}

button:hover{
    background-color: black;
    color: rgb(255,118,0);
    transition: 1s;
    cursor: pointer;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: rgb(255,118,0);
}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(255,118,0);
    font-size: 1.7em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(211, 114, 30);
    background-color: black;
    transition: 1s;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/funciones-marketing-digital.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#aprende-participando .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-cursos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-cursos .container{
    padding: 100px 12px;
}

#nuestros-cursos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-cursos p{
    display: none;
}


.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/facebook-ads-que-es.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/Google-Kampagne-raidboxes.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/community.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta h3:hover{
    background-color: rgb(255,118,0);
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#pro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/pro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#pro button{
    font-size: 1.75em;
}

footer{
    background-color: rgb(230,230,230); 
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    margin: 0;
    color: rgb(100, 100, 100);
    padding: 12px;
}

@media (min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #aprende-participando .container{
        display: flex;
        justify-content: space-evenly;
    }

    #aprende-participando .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #aprende-participando h2{
        margin-top: 0;
        font-size: 4em;
    }

    #aprende-participando .image-container{
        background-image: url(../imagenes/aprende-def.jpeg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        border-radius: 12px;
    }

    #nuestros-cursos .cursos{
        display: flex;
        justify-content: center;
    }

    #nuestros-cursos p{
        display: block;
        padding-top: 80px;
        margin-bottom: 30px;
    }

    #nuestros-cursos h3{
        margin-top: 0;
    }

    #nuestros-cursos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(50, 50, 50);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #caracteristicas .container{
        display: flex;
        justify-content: space-evenly;
    }
    
    #caracteristicas .lista{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #caracteristicas .image-container{
        background-image: url("../imagenes/lista.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        border-radius: 12px;
    }
    
    
}
